{% extends 'visitor/baze.html' %}
{% block content %}

<style>
/* General Styles */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: #92281e; /* Custom header color */
    color: white;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
}

.card-body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    text-align: center;
}

.card-footer {
    background-color: #92281e; /* Custom footer color */
    color: white;
    padding: 15px;
    text-align: center;
}

.btn-custom {
    background-color: #ffffff; /* Button background color */
    color: #3f8efc; /* Button text color */
    border: 1px solid #3f8efc; /* Button border color */
}

.btn-custom:hover {
    background-color: #3f8efc; /* Hover effect */
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #3f8efc; /* Active pagination background color */
    border-color: #3f8efc;
    color: white;
}

.pagination .page-link {
    color: #3f8efc;
}

.pagination .page-link:hover {
    background-color: #e0e0e0;
}

/* Modal Customization */
.modal-header {
    background-color: #3f8efc; /* Modal header color */
    color: white;
}

.modal-footer {
    background-color: #f4f4f4; /* Modal footer background color */
    border-top: none;
}

.modal-footer .btn-secondary {
    background-color: #3f8efc; /* Custom footer button color */
    color: white;
    border-color: #3f8efc;
}

.modal-footer .btn-secondary:hover {
    background-color: #2f7bdc; /* Hover effect for footer button */
}

.nav-tabs .nav-link.active {
    background-color: #3f8efc;
    color: white;
}
</style>

<section class="ftco-section py-5 bg-white">
    <div class="container">
        <div class="row justify-content-center mb-4 pb-3">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-4">Explore Our Schedule</h2>
                <p class="lead">Switch between upcoming masses and events.</p>
                <hr class="my-4">
            </div>
        </div>

        <!-- Nav Tabs -->
        <ul class="nav nav-tabs justify-content-center mb-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="misa-tab" data-toggle="tab" href="#misa" role="tab" aria-controls="misa" aria-selected="true">Misa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <!-- Misa Tab -->
            <div class="tab-pane fade show active" id="misa" role="tabpanel" aria-labelledby="misa-tab">
                <div class="row">
                    {% for missa in misa_page_obj %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0"><font color='white'>{{ missa.title }}</font></h5>
                            </div>
                            <div class="card-body">
                                <h5 class=" mb-1" >{{ missa.date }}</h5>
                                <p class="mb-2">{{ missa|date:"l" }}</p>
                            </div>
                            <div class="card-footer">
                               
                                <p class="mb-0">Priest: {{ missa.priest }}</p>
                                <p class="mb-0">{{ missa.time|date:"H:i" }}</p>
                                <!-- Trigger for modal -->
                                <button type="button" class="btn btn-custom btn-sm mt-2" data-toggle="modal" data-target="#missaModal{{ missa.id }}">Read More</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for Misa -->
                    <div class="modal fade" id="missaModal{{ missa.id }}" tabindex="-1" role="dialog" aria-labelledby="missaModalLabel{{ missa.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="missaModalLabel{{ missa.id }}">{{ missa.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Priest:</strong> {{ missa.priest }}</p>
                                    <p><strong>Date:</strong> = {{ missa.date|date:"F" }}</p>
                                    <p><strong>Time:</strong> {{ missa.time|date:"H:i" }}</p>
                                    <p>{{ missa.description|safe }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12 text-center">
                        <p class="lead">No upcoming masses available at the moment.</p>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination for Misa -->
                <div class="row">
                    <div class="col text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if misa_page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?misa_page={{ misa_page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in misa_page_obj.paginator.page_range %}
                                <li class="page-item {% if misa_page_obj.number == num %}active{% endif %}">
                                    <a class="page-link" href="?misa_page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if misa_page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?misa_page={{ misa_page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Events Tab -->
            <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                <div class="row">
                    {% for event in event_page_obj %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0" ><font color='white' >{{ event.name }}</font></h6>
                            </div>
                            <div class="card-body">
                                <!-- <h1 class="display-4 mb-1" >{{ event.date.day }}</h1> -->
                                <p class="mb-2">{{ event.date|date }}</p>
                            </div>
                            <div class="card-footer">
                                <h5 class="mb-0">{{ event.name }}</h5>
                                <p class="mb-0">Location: {{ event.location }}</p>
                                <p class="mb-0">{{ event.date|date:"H:i" }}</p>
                                <!-- Trigger for modal -->
                                <button type="button" class="btn btn-custom btn-sm mt-2" data-toggle="modal" data-target="#eventModal{{ event.id }}">Read More</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for Event -->
                    <div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel{{ event.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eventModalLabel{{ event.id }}">{{ event.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Location:</strong> {{ event.location }}</p>
                                    <p><strong>Date:</strong> {{ event.date|date:"F d, Y" }}</p>
                                    <p><strong>Time:</strong> {{ event.date|date:"H:i" }}</p>
                                    <p>{{ event.description }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12 text-center">
                        <p class="lead">No upcoming events available at the moment.</p>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination for Events -->
                <div class="row">
                    <div class="col text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if event_page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?event_page={{ event_page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in event_page_obj.paginator.page_range %}
                                <li class="page-item {% if event_page_obj.number == num %}active{% endif %}">
                                    <a class="page-link" href="?event_page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if event_page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?event_page={{ event_page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
