{% extends 'visitor/baze.html' %}
{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="cpp-tab" data-toggle="tab" href="#cpp" role="tab"
                            aria-controls="cpp" aria-selected="true">Estrutura (CPP) no (CEP)</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="professor-tab" data-toggle="tab" href="#professor" role="tab"
                            aria-controls="professor" aria-selected="false">Professoar/a Religião Católico</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="padre-tab" data-toggle="tab" href="#padre" role="tab"
                            aria-controls="padre" aria-selected="false">Padre Liquiçá oan</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="madre-tab" data-toggle="tab" href="#madre" role="tab"
                            aria-controls="madre" aria-selected="false">Madre Liquiçá oan</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="exseminarista-tab" data-toggle="tab" href="#exseminarista" role="tab"
                            aria-controls="exseminarista" aria-selected="false">Eis-Seminarista no Ex Religioso/a</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="cpp" role="tabpanel" aria-labelledby="cpp-tab">
                        <!-- Content for CPP/CEP -->
                        <div class="col-md-12 mb-12">
                            <br>
                            <div class="topic-section p-4 border rounded shadow-sm h-100">
                                <h4 class="topic-title">Estrutura Conselho Pastoral Paróquia (CPP)</h4>
                                <hr>
                                <div class="location-map text-center">
                                    <img src="{{perfil.ecp.url}}" alt="Mapa da Área Geográfica"
                                        class="img-fluid rounded">
                                </div>
                                <hr>
                                <h4 class="topic-title">Estrutura Conselho Económico Paroquial (CEP)</h4>
                                <hr>
                                <div class="location-map text-center">
                                    <img src="{{perfil.cep.url}}" alt="Mapa da Área Geográfica"
                                        class="img-fluid rounded">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="professor" role="tabpanel" aria-labelledby="professor-tab">
    
                        <div class="col-md-12">
                            <h2>Lista de Professores de Religião Católico</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Fatin Serviço</th>
                                        <th>Estatuto (Recrutado)</th>
                                        <th>Kontaktu</th>
                                        <th>Descrição</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dados in profesor %}
                                    <tr>
                                        <td>{{ dados.nome }}</td>
                                        <td>{{ dados.fatinserviço|default:"-" }}</td>
                                        <td>{{ dados.estatuto|default:"-" }}</td>
                                        <td>{{ dados.kontaktu|default:"-" }}</td>
                                        <td>{{ dados.descricao|default:"Sem descrição" }}</td>
                                        <td>
                                            {% if dados.foto %}
                                            <img src="{{ dados.foto.url }}" alt="{{ dados.nome }}" width="50" height="50">
                                            {% else %}
                                            Sem foto
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">Nenhum professor encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                                     


                            
                     
                    </div>

                    <div class="tab-pane fade" id="padre" role="tabpanel" aria-labelledby="padre-tab">
                        <div class="col-md-12">
                            <h2>Lista de Padres</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>Fatin no data Ordenação</th>
                                        <th>Fatin Serviço</th>
                                        <th>Kontaktu</th>
                                        <th>Descricao</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dados in padre %}
                                    <tr>
                                        <td>{{ dados.nome }}</td>
                                        <td>{{ dados.get_tipo_display }}</td>
                                        <td>{{ dados.fatinnodataordenacao }}</td>
                                        <td>{{ dados.fatinservico }}</td>
                                        <td>{{ dados.contacto }}</td>
                                        <td>{{ dados.descricao }}</td>
                                        <td>
                                            {% if dados.foto %}
                                            <img src="{{ dados.foto.url }}" alt="{{ dados.nome }}" width="50" height="50">
                                            {% else %}
                                            Sem foto
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7">Nenhum padre encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="madre" role="tabpanel" aria-labelledby="madre-tab">
                        <div class="col-md-12 mt-5">
                            <h2>Lista de Madres</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>Fatin no data Ordenação</th>
                                        <th>Fatin Serviço</th>
                                        <th>Kontaktu</th>
                                        <th>Descricao</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dados in madre %}
                                    <tr>
                                        <td>{{ dados.nome }}</td>
                                        <td>{{ dados.get_tipo_display }}</td>
                                        <td>{{ dados.fatinnodataordenacao }}</td>
                                        <td>{{ dados.fatinservico }}</td>
                                        <td>{{ dados.contacto }}</td>
                                        <td>{{ dados.descricao }}</td>
                                        <td>
                                            {% if dados.foto %}
                                            <img src="{{ dados.foto.url }}" alt="{{ dados.nome }}" width="50" height="50">
                                            {% else %}
                                            Sem foto
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7">Nenhum madre encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    

                    <div class="tab-pane fade" id="exseminarista" role="tabpanel" aria-labelledby="exseminarista-tab">
                        <div class="col-md-12 mt-5">
                            <h2>Lista de Eis-Seminaristas e Ex-Religiosos/as</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Estado Civil</th>
                                        <th>Contacto</th>
                                        <th>Descrição</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for seminarista in exseminarista %}
                                    <tr>
                                        <td>{{ seminarista.nome }}</td>
                                        <td>{{ seminarista.estadoeivil|default:"-" }}</td>
                                        <td>{{ seminarista.contacto|default:"-" }}</td>
                                        <td>{{ seminarista.descricao|default:"Sem descrição" }}</td>
                                        <td>
                                            {% if seminarista.foto %}
                                                <img src="{{ seminarista.foto.url }}" alt="{{ seminarista.nome }}" width="50" height="50">
                                            {% else %}
                                                Sem foto
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">Nenhum eis-seminarista ou ex-religioso encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    




                    
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .nav-tabs .nav-link.active {
        background-color: #8B4513;
        /* Brown color */
        color: white;
    }

    .nav-tabs .nav-link {
        color: #555;
        /* Default tab color */
    }

    .nav-tabs .nav-link:hover {
        color: #000;
        /* Hover color */
    }

    .tab-content {
        padding-top: 20px;
    }
</style>

{% endblock %}