{% extends 'visitor/baze.html' %}
{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../static/images/download.png);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-8 text ftco-animate">
          <h1 class="mb-12" style="text-shadow: 5px 0px 10px rgba(0,0,0,0.98); color: rgb(211, 202, 155);">  PAROQUIA SÃO JOÃO DE BRITO LIQUIÇÁ</h1>
          <h3 class="subheading" style="text-shadow: 5px 0px 4px rgba(0, 0, 0, 0.98); color: white;">
            Ad maiora natus sum ,  "Hau moris ba buat bo'ot-liu."
        </h3>
          <p><a href="{% url 'vizitor:planu' %}" class="btn btn-secondary px-4 py-3 mt-3">Planu Anual Sajobril</a></p>
        </div>
        <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
          <div class="blog-entry">
            <div class="text bg-white p-4">
              <h3 class="heading">
                <a href="#">
                  <center>
                    <b>
                      <h1><span class="flaticon-heart-rate"></span></h1>
                      <br>
                      Konsulta ita bo'ot nia problema moris , imi prontu kopera atu rezolve
                    </b>
                  </center>
                </a>
              </h3>
              <div class="d-flex justify-content-center mt-4">
                <!-- Button for WhatsApp Chat -->
                <p class="mb-0">
                  <a 
                    href="https://api.whatsapp.com/send?phone=67077654433&text=Hello%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." 
                    target="_blank" 
                    class="btn btn-primary">
                    Kontaktu Agora <span class="ion-ios-arrow-round-forward"></span>
                  </a>
                </p>
                <!-- Add WhatsApp Share Button -->
                  
              </div>
            </div>
          </div>
        </div>
                                                                                              





        
      </div>
      </div>
    </div>


  </section>

  <section class="ftco-services ftco-no-pb">
          <div class="container">
              <div class="row no-gutters">
        <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
          <div class="media block-6 d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-doctor"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Atividade <br> ({{total_atividade}})</h3>
              <p>Asesu ba atividade sajobril nian , ne'ebe durante ne'e realiza ona</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
          <div class="media block-6 d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-ambulance"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading"> Planu sajobril  <br>({{total_planu}})</h3>
              <p>Asesu ba planu dokumentu planu anual  husi sajobril nian </p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
          <div class="media block-6 d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-stethoscope"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Formatu Dokumentu  <br>({{total_atendimentu}}) </h3>
              <p>Download formatu dokumentu sira ligadu ho trata sertidaun batismu , kaben , obitu nst</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
          <div class="media block-6 d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-24-hours"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Eventu & Anunsiu <br>({{total_eventu}})</h3>
              <p>Hare eventu ka anunsiu sira ne'ebe sei realiza husi sajobril </p>
            </div>
          </div>      
        </div>
      </div>
          </div>
      </section>
      
      <section class="ftco-section ftco-no-pt ftc-no-pb">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(../static/images/about.png);">
                  </div>
                  <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
            <div class="heading-section mb-5">
                <div class="pl-md-5 ml-md-5">
                    <span class="subheading"><b>Amu Paroquia São João De Brito Liquiçá </b></span>
                  <h2 class="mb-4" style="font-size: 28px;">{{perfil.amu}}</h2>
              </div>
            </div>
            <div class="pl-md-5 ml-md-5 mb-5">
                          <p> <h3>Antecedente</h3> {{perfil.istoria_existencia|truncatewords:80|safe}} ...<a href="{% url 'vizitor:perfilsazobril' %}" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a> 
                              </p>										
                          <div class="row mt-5 pt-2">
                              <div class="col-lg-6">
                                  <div class="services-2 d-flex">
                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                                      <div class="text">
                                          <h3>Visão Geral</h3>
                                          <p>
                                            {{perfil.visao_geral|truncatewords:30|safe }} ...

                                            <a href="{% url 'vizitor:perfilsazobril' %}" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="services-2 d-flex">
                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                                      <div class="text">
                                          <h3>Visão Específica</h3>
                                          <p>
                                            {{perfil.visao_especifica|truncatewords:30|safe }} ...

                                            <a href="{% url 'vizitor:perfilsazobril' %}" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div class="services-2 d-flex">
                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                      <div class="text">
                                          <h3>Missão</h3>
                                          <p>
                                            {{perfil.missao|truncatewords:30|safe }} ...
                                            <a href="{% url 'vizitor:perfilsazobril' %}" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                                      </div>
                                  </div>
                              </div>
                              <!-- <div class="col-lg-6">
                                  <div class="services-2 d-flex">
                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                                      <div class="text">
                                          <h3>Objectivo </h3>
                                          <p>
                                            {{perfil.visao_geral|truncatewords:20|safe }} ...
                                            <a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a>
                                          </p>
                                      </div>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      <section class="ftco-intro" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="col-md-9">
                      <h2>Colsulta ita nia problema ho amu sira </h2>
                      <p class="mb-0">Kuidadu imi nia privasidade , solusiona imi nia problema</p>
                      <p></p>
                  </div>
                  <div class="col-md-3 d-flex align-items-center">
                      <p class="mb-0">
                 
                        <a href="https://api.whatsapp.com/send?phone=67077654433&text=Hello%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." class="btn btn-secondary px-4 py-3"> Causeling Gratuita</a>
                      
                      </p>
                  </div>
              </div>
          </div>
      </section>


  <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">
       
          <h2 class="mb-4">Atividade Ikus liu </h2><hr><br>
          
      </div>
              <div class="row">



                {% for atividade in page_obj %}
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('{{ atividade.image.url }}');">
                            <div class="meta-date text-center p-2">
                                <span class="day">{{ atividade.date|date:"d" }}</span>
                                <span class="mos">{{ atividade.date|date:"F" }}</span>
                                <span class="yr">{{ atividade.date|date:"Y" }}</span>
                            </div>
                        </a>
                        <div class="text bg-white p-4">
                            <h3 class="heading"><a href="#">{{ atividade.name }}</a></h3>
                            <p>{{ atividade.description|truncatewords:20|safe }}</p>
                            <div class="d-flex align-items-center mt-4">
                                <p class="mb-0"><a href="{% url 'vizitor:atividade_detail' atividade.id %}" class="btn btn-sm btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                                <p class="ml-auto mb-0">
                                    <a href="#" class="mr-2">Admin</a>
                                    <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No activities available.</p>
                {% endfor %}

      </div>
          </div>
  </section>







{% endblock %}